@inherits LayoutComponentBase

<div class="DateTimeAndWeatherHolder">

    <main>
        <div class="DateAndTime">
            <DateAndTimeBox />
        </div>
        <div class="Weather">
            <WeatherBox />
        </div>
    </main>
</div>