body {
}

.DateAndTimeBox {
    background-color: blue;
    height: 50vh;
    overflow: auto;
    border: solid black;
}

.DateTime {
    text-align: center;
    font-size: 3em;
    font-weight: bolder;
}