@inherits LayoutComponentBase

<div class="NewsHolder">

    <main>
        <div class="GameNews">
            <GameNewsBox />
        </div>
        <div class="TechNews">
            <TechNewsBox />
        </div>
        <div class="WorldNews">
            <WorldNewsBox />
        </div>
    </main>
</div>