@inherits LayoutComponentBase
@using System.Text.Json
@using System.Text.Json.Serialization
@inject IHttpClientFactory ClientFactory

<div class="WeatherBox">
    <main>
        <h1>@weather</h1>
    </main>

</div>


@code {
    // https://api.openweathermap.org/data/2.5/forecast?lat=36.76&lon=-76.28&appid=dd507d081c2d8cb1f8b2d42d8beca275
    // open weather API call info https://openweathermap.org/forecast5

    //for 5 day forecast
    //Uri uri = new Uri("https://api.openweathermap.org/data/2.5/forecast?lat=36.76&lon=-76.28&appid=dd507d081c2d8cb1f8b2d42d8beca275");

    //for current weather only
    Uri uri = new Uri("https://api.openweathermap.org/data/2.5/weather?lat=36.76&lon=-76.28&appid=dd507d081c2d8cb1f8b2d42d8beca275");

    private string weather = "Weather";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Console.WriteLine(weather);

            //set up client
            var client = ClientFactory.CreateClient();

            //set up request
            HttpRequestMessage request = new HttpRequestMessage(HttpMethod.Get, uri);

            //set up response
            HttpResponseMessage response = await client.SendAsync(request);

            //WeatherData currentWeather = new();

            //deserialize json into readable output
            //currently only getting one day. i want 5 day forecast
            if (response.IsSuccessStatusCode)
            {
                using var responseStream = await response.Content.ReadAsStreamAsync();
                string responseBody = await response.Content.ReadAsStringAsync();

                WeatherData currentWeather = JsonSerializer.Deserialize<WeatherData>(responseStream);

                Console.WriteLine(currentWeather.wind.speed);

            }

            weather = "weatherHasChanged";
            Console.WriteLine(weather);
            StateHasChanged();
        }
        catch (HttpRequestException e)
        {
            Console.WriteLine("\nException Caught!");
            Console.WriteLine("Message:{0} } ", e.Message);
        }

        
    }


}